@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap");

/*=========================================BODY DE TODAS AS PÁGINAS=========================================*/

body {
  background-color: #ffffff;
  margin: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  flex-direction: column;
  padding-top: 0px;
  margin-bottom: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
}

/*========================================HEADER E FOOTER DE TODAS AS PÁGINAS===============================*/

header {
  display: flex;
  border: none;
  margin: 0;
  height: 25vh;
  width: 100%;
  padding: 0;
  margin-bottom: 0px;
  margin-top: 0px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 0;
  height: 15vh;
  /* Altura do footer */
  width: 100%;
  /* Largura total */
  padding: 0;
  background-color: #ffffff;
  /* Cor de fundo para o rodapé */
  margin-top: 10px;
}

footer img {
  height: 100%;
  /* Altura máxima da imagem */
  width: auto;
  /* Largura automática para manter a proporção */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  /* Altura do header */
  width: 100%;
  /* Largura total */
  padding: 10px;
  background-color: #5ecc9f;
  margin-bottom: 80px;
  margin-top: 0px;
}

.return-home img {
  max-width: 30px;
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.return-home:hover {
  transform: scale(1.5);
}

.logo img {
  max-width: 100px;
}

.menu-title h1 {
  font-size: 1.5rem;
  color: #ffffff;
  margin-right: 10px;
}

.footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  /* Altura do footer */
  width: 100%;
  /* Largura total */
  padding: 0;
  background-color: #ffffff;
  /* Cor de fundo para o rodapé */
  margin-top: 10px;
}

.footer-menu img {
  height: 100%;
  /* Altura máxima da imagem */
  width: auto;
  /* Largura automática para manter a proporção */
  margin: auto;
}

.div-footer-home {
  height: 50vh;
  margin-top: 150px;
}

.div-editar {
  display: flex;
  align-items: center;
  gap: 10px;
}

/*=====================================================INDEX================================================*/

.header-index {
  justify-content: center;
  align-items: center;
}

.header-index img {
  height: 100%;
  /* Altura máxima da imagem */
  width: max-content;
  /* Largura automática para manter a proporção */
}

.header-index img:hover {
  animation: pulse 1s infinite;
  /* Adicione outras propriedades de estilização da imagem conforme necessário */
}

.div-login {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background-color: #5ecc9f;
  width: 300px;
  height: 300px;
  /* Adicionando propriedades para centralizar */
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 50px;
  /* Espaçamento entre a div-login e o footer */
}

.div-login h1,
.div-login input {
  font-family: "Poppins", sans-serif;
  margin-bottom: 35px;
  /* Espaçamento entre elementos */
  color: #19434b;
}

.div-login input {
  border-radius: 10px;
  border: none;
  height: 35px;
  width: 200px;
  padding-left: 10px;
  text-align: left;
}

.div-login button {
  outline: 1px solid #19434b;
  border-radius: 25px;
  border: none;
  height: 40px;
  width: 100px;
  text-align: center;
  background-color: rgb(236, 236, 236);
  transition: background-color 0.3s ease;
}

.div-login input:focus {
  outline: 1px solid #19434b;
}

.div-login button:hover {
  background-color: #19434b;
  /* Cor de fundo ao passar o mouse */
  color: #ffffff;
  outline: 1px solid #ffffff;
  cursor: pointer;
}

/*========================================PÁGINA HOME=======================================================*/

.menu-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 80px;
  margin-bottom: 85px;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #5ecc9f;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  transition: transform 0.3s ease;
  /* Define a transição para a propriedade transform */
}

.option:hover {
  transform: scale(1.1);
  /* Aumenta ligeiramente o tamanho do elemento ao passar o mouse */
}

.option img {
  max-width: 100px;
  max-height: 100px;
  margin-top: 20px;
}

.option p {
  margin-top: 10px;
  color: #19434b;
  text-decoration: none;
  font-size: 20px;
}

/*============================================PULSEIRAS====================================================*/

.header-pulseiras {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  /* Altura do header */
  width: 100%;
  /* Largura total */
  padding: 10px;
  background-color: #5ecc9f;
  margin-bottom: 80px;
  margin-top: 0px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-id[type="text"] {
  width: 350px;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
  border-radius: 15px;
}

.input-id[type="text"]:focus {
  border-color: #5ecc9f;
  outline: none;
}

.form-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
}

.form-buttons button,
.btn.btn-danger,
.btn.btn-primary {
  padding: 8px 16px;
  margin: 0 10px;
  background-color: #5ecc9f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.remover-btn:hover,
.btn.btn-danger:hover {
  background-color: #ff1e00;
}

.adicionar-btn:hover,
.btn.btn-primary:hover {
  background-color: rgb(0, 255, 98);
}

.editar-btn:hover,
.btn.btn-primary:hover {
  background-color: rgb(0, 140, 255);
}

.form-excluir {
  margin-top: 105px;
  margin-bottom: 120px;
}

label[for="produtoId"] {
  font-size: 30px;
}

/*================================================USUÁRIOS===============================================*/


.table-container {
  margin: 20px;
  max-width: 800px;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-top: 25px;
}

th,
td {
  padding: 12px 15px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

th {
  background-color: #5ecc9f;
  color: white;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #e3e3e3;
}

.actions {
  display: flex;
  align-items: center;
  gap: 5px;
}

.adicionar-usuario-btn {
  padding: 10px 20px;
  background-color: #5ecc9f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 170px;
  font-family: "Poppins", sans-serif;
}

.adicionar-usuario-btn:hover {
  background-color: #4cb58f;
}


/*================================CADASTRAR PULSEIRAS=======================================================*/


.input-cor,
.input-qtd,
.select-status,
input {
  width: 200px;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
  font-size: medium;
}

.input-cor:focus,
.input-qtd:focus,
.select-status:focus,
input:focus {
  border-color: #5ecc9f;
  outline: none;
}

.select-status {
  width: 100px;
}

.div-cadastro-pulseira,
.div-cadastro-usuario {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #04ff963a;
  margin-bottom: 40px;
  margin-top: 30px;
}

.form-group {
  display: flex;
  align-items: center;
}


.btn-primary,
.btn-danger {
  padding: 10px 15px;
}

/*=================================CADASTRO USUÁRIO=======================================================*/

.div-cadastro-usuario {
  margin-top: -10px;
}

/*================================CLASSES ESPECÍFICAS======================================================*/
.link {
  color: #19434b;
  font-size: 15px;
}

.link :visited {
  color: #19434b;
}


.add-user-btn {
  padding: 10px 20px;
  background-color: #5ecc9f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.add-user-btn:hover {
  background-color: #4cb58f;
}