<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="header-menu">
    <div class="return-home">
      <a href="/">
        <img src="/img/logout.png" alt="Home">
      </a>
    </div>
    <div class="logo">
      <a href="home">
        <img src="/img/zyro-image_sfB.png" alt="Logo">
      </a>
    </div>
    <div class="menu-title">
      <h1>HOME</h1>
    </div>
  </header>
  <div>
    <div>
      <div>
        <h2>Editar usuário</h2>
        <div>
          <form id="formularioUsuario" method="post" action="/usuario/atualizar">
            <div style="width: 100%;">
              <form id="formularioUsuario" method="post" action="/usuario/atualizar"
                style="display: flex; flex-direction: column; gap: 15px;">
                <div style="display: flex; align-items: center; gap: 10px;">
                  <label style="flex: 0 0 150px;">ID do Usuário:</label>
                  <input type="text" id="usuarioId" name="usuarioId" placeholder="Digite o ID do Usuário" required
                    style="flex: 1;">
                </div>
                <div style="display: flex; align-items: center; gap: 10px;">
                  <label style="flex: 0 0 150px;">Nome:</label>
                  <input type="text" id="nome" name="nome" placeholder="Digite o nome" required style="flex: 1;">
                </div>
                <div style="display: flex; align-items: center; gap: 10px;">
                  <label style="flex: 0 0 150px;">CPF:</label>
                  <input type="number" id="cpf" name="cpf" placeholder="Digite o CPF" required style="flex: 1;">
                </div>
                <div style="display: flex; align-items: center; gap: 10px;">
                  <label style="flex: 0 0 150px;">Senha:</label>
                  <input type="password" id="senha" name="senha" placeholder="Digite a senha" required style="flex: 1;">
                </div>
                <div style="display: flex; align-items: center; gap: 10px;">
                  <label style="flex: 0 0 150px;">Status:</label>
                  <select name="status" id="status" required class="select-status">
                    <option value="Ativo">Ativo</option>
                    <option value="Inativo">Inativo</option>
                  </select>
                </div>

                <button type="submit" class="btn btn-primary"
                  style="margin-top: 15px; margin-left: 40%;">Atualizar</button>
              </form>
            </div>
            <div class="div-footer-home">
              <img src="/img/logo-sfP.png" alt="Logo" height="50%">
            </div>
        </div>
      </div>
    </div>

</body>

</html>