<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header class="header-menu">
    <div class="return-home">
      <a href="home">
        <img src="img/home.png" alt="Home">
      </a>
    </div>
    <div class="logo">
      <img src="img/zyro-image_sfB.png" alt="Logo">
    </div>
    <div class="menu-title">
      <h1>HOME</h1>
    </div>
  </header>

  <div class="menu-options">
    <div class="option">
      <a href="produto" style="text-decoration: none;">
        <img src="img/pulseira.png" alt="Pulseiras">
        <b><p>Pulseiras</p></b>
      </a>
    </div>
    <div class="option">
      <a href="usuario" style="text-decoration: none">
        <img src="img/usuario.png" alt="Usuários">
        <b><p>Usuários</p></b>
      </a>
    </div>
  </div>

  <footer class="footer-menu">
    <img src="img/logo-sfP.png" alt="Logo" height="50%">
  </footer>
</body>

</html>
