<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="header-menu">
      <div class="return-home">
        <a href="home">
          <img src="/img/logout.png" alt="Home" />
        </a>
      </div>
      <div class="logo">
        <a href="home">
          <img src="/img/zyro-image_sfB.png" alt="Logo" style="margin-left: 50px">
        </a>
      </div>
      <div class="menu-title">
        <h1>USUÁRIOS</h1>
      </div>
    </header>
    <div class="form-excluir">
      <form action="/usuario/excluir" method="post">
        <label for="usuarioId" style="font-size: 30px;">Informe o ID do Usuário:</label>
        <input type="text" id="usuarioId" name="usuarioId" required class="input-id" style="text-align: center; font-family: 'Poppins', sans-serif;"/>
        <div class="form-buttons">
          <button class="remover-btn">Remover</button>
        </form>
          <form action="/usuario/criacao" method="post">
            <button class="adicionar-btn">Adicionar</button>
          </form>
          <div class="container">
            <form action="/usuario/editar" method="post">
              <button class="editar-btn">Editar</button>
            </form>
          </div>
        </div>
      </form>
    </div>
    <div class="div-footer-home">
      <img src="/img/logo-sfP.png" alt="Logo" height="50%">
  </div>
  </body>
</html>
